<table mat-table #table="cdkDropList"
       #t1
       [dataSource]="dataSource1" class="mat-elevation-z8"
       cdkDropList
       [cdkDropListData]="dataSource1"
       [cdkDropListConnectedTo]="[table2]"
       (cdkDropListDropped)="onListDrop($event, dataSource1, t1)">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      cdkDrag [cdkDragData]="row"></tr>
</table>

<table mat-table #table2="cdkDropList"
       #t2
       [dataSource]="dataSource2" class="mat-elevation-z8"
       cdkDropList
       [cdkDropListData]="dataSource2"
       [cdkDropListConnectedTo]="[table]"
       (cdkDropListDropped)="onListDrop($event, dataSource2, t2)">

  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      cdkDrag [cdkDragData]="row"></tr>
</table>
